<html>
  <head>
    <title>Node JS</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
  </head>
  <body>
    <div class='container'>
      <div class='error'>
        <%if(errosValidacao){%>
          <% for(var i=0; i < errosValidacao.length; i++) {%>
            <div class='row'>
              <div class='col-sm-12'>
                <label class='label label-danger'> 
                  <%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %>
                </label>
                <div> &nbsp; </div>
              </div>
            </div>
          <%}%>
        <%}%>
      </div>
      <h1> Form para novo produto </h1>
      <form class='form' action='/produtos' method='post'>
        <div class='form-group'>
          <label for='titulo'> Título </label>
          <input type='text' name='titulo' id='titulo' value=<%=produto.titulo%>>
        </div>

        <div class='form-group'>
          <label for='descricao'> Descrição </label>
          <textarea rows="4" cols="50"  id="descricao" name="descricao" placeholder="fale sobre o livro"><%=produto.descricao%></textarea>
        </div>

        <div class='form-group'>
          <label for='preco'> Preço </label>
          <input type='text' name='preco' id='preco' value=<%=produto.preco%>>
        </div>

        <div class='form-group'>
          <input type='submit' value='Salvar' class='btn btn-success'/>
          <a href='/produtos' class='btn btn-info'> Voltar </a>
        </div>
      </form>
    </div>
  </body>
</html>