<html>
  <head>
    <title>Node JS</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
  </head>
  <body>
    <div class='container'>
      <h1> listagem de produtos </h1>
      <table class='table table-striped'>
        <thead>
          <th> ID </th>
          <th> Título </th>
          <th> Descrição </th>
          <th> Preço </th>
        </thead>
        <tbody>
          <% for(var i =0; i < lista.length; i++){ %>
            <tr>
              <td><%= lista[i].id %></td>
              <td><%= lista[i].titulo %></td>
              <td><%= lista[i].descricao %></td>
              <td><%= lista[i].preco %></td>
            </tr>
          <%}%>
          
        </tbody>
      </table>
      <div class='row' style='margin: none;'>
        <a href='/produtos/form' class='btn btn-info'> Novo produto </a>
      </div>
    </div>
  </body>

</html>