<html>
  <head>
    <title>Node JS</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
  </head>
  <body>
    <div class='container'>
      <h1> home page </h1>
      <div class='row' style='margin: none;'>
        <a href='/produtos' class='btn btn-info'> Lista de produtos </a>
      </div>
    </div>
  </body>

</html>